<h1>Update Product</h1>

<form action="/products/<%= @product.id %>" method="patch">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name: <input type="string" name="name" value="<%= @product.name %>">
  </div>
   <div>
    Retail Price: <input type="decimal" name="price" value="<%= @product.price %>">
  </div>
   <div>
    Description: <input type="text" name="description" value="<%= @product.description %>">
  </div>
   <div>
    Inventory Status: <select name="inventory_status" id="">
      <option value="">--Please choose an option--</option>
      <option value="in-stock">In-Stock</option>
      <option value="out-of-stock">Out-Of-Stock</option>
    </select>
  </div>
   <div>
    Supplier:   <select name="supplier_id" id="">
      <% Supplier.all.each do |supplier| %>
        <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
      <!-- <option value="">--Please choose an option--</option>
      <option value="1">Amazon</option>
      <option value="2">Nordstrom</option>
      <option value="3">GAP</option> -->
    </select>
  </div>
  <input type="submit" value="Edit Product">
</form>