<h1>Products Index</h1>
<%= @products.each do |product| %>
  <h2>Product Name: <%= product.name %></h2>
  <h3>Category: <%= product.cateogry_names %></h3>
  <h4> Retail Price: <%= number_to_currency(product.price) %></h4>
  <p> Description: <%= product.description %></p>
  <a href="/products/<%=product.id%>">More Info</a>
<% end %>